/* You can add global styles to this file, and also import other style files */



html {
  height: 100%;
  /*background-color: lightgray;*/
}

body {
  height: 100%;
  margin: 0px;
}

app-root {
  height: inherit; /*-webkit-fill-available;*/
  width: 100%;
  margin: 0 0;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}

app-middle-card {
  display: flex;
  /*align-items: center;*/
  justify-content: space-between;
  flex: 1 1 initial;
  /*height: -webkit-fill-available;*/
  width: calc(calc(100% - 60px) * 0.3);
  margin: 10px;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 0px;
}

.app-middle-card-first {
  margin-right: 5px;
  height: initial;
  max-height: 100%;
  overflow-y: auto;
}

.app-middle-card-second {
  margin-left: 5px;
  margin-right: 5px;
  height: initial;
  max-height: 100%;
  overflow-y: auto;
}

.app-middle-card-third {
  margin-left: 5px;
  margin-right: 5px;
  height: initial;
  max-height: 100%;
  overflow-y: auto;
}

.app-middle-card-fourts {
  margin-left: 5px;
  height: initial;
  max-height: 100%;
  overflow-y: auto;
}

app-footer-card {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  height: max-content;
  width: calc(100% - 60px);
  margin: 10px;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
}
app-header-card {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  height: max-content;
  width: calc(100% - 60px);
  margin: 10px;
  margin-bottom: 0px;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
}
