.container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container button {
  background-color: lightgreen;
  filter: brightness(150%);
  border-radius: 25px;
  font-weight: bolder;
  font-size: 25px;
  height: 70px;
  width: 100px;
  margin: 15px;
}
