.container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0px 100px 0px 100px;
}

.container div.cara {
  height: 3px;
  background-color: black;
  color: black;
  width: 90%;
  align-self: center;
}

.container button {
  background-color: lightgray;
  /*filter: brightness(150%);*/
  border-radius: 25px;
  font-weight: bolder;
  font-size: 15px;
  height: 70px;
  width: 100px;
  /*margin: 15px;*/

}
