<div class="container">
  <button>Vytvorit projekt</button>
  <div class="cara"></div>
  <button>Vytvorit kategorie (labely)</button>
  <div class="cara"></div>
  <button>Trenovani modelu</button>
  <div class="cara"></div>
  <button>Testovani modelu</button>
</div>
