<div class="container">
  <h2>{{title}}</h2>

  <div *ngIf="evalVisibilityButton()">
    <button (click)="pushedButton()">{{buttonTitle}}</button>
  </div>
  <div *ngIf="!evalVisibilityButton()">
    <div style="margin-top: 18px">
      <input type="file" id="{{title}}" (change)="addFiles($event)" style="display: none" />
      <label for={{title}} style="margin-top: 20px !important;">{{buttonTitle}}</label>
    </div>
  </div>
</div>
<div class="container2" *ngIf="evalVisibilityButton()">
  <div *ngFor="let oneElement of elements" [ngClass]="{'container22' : true, 'container22_selected': isElementSelected(oneElement)}" (click)="setSelectElement(oneElement)">
    <div class="div1">
    <span style="max-width: 70%; word-wrap: break-word">{{oneElement.description}}</span>
    <span (click)="pushTimes(oneElement)">&times;</span>
    </div>
  </div>
</div>
<div class="container2" *ngIf="!evalVisibilityButton()">
  <div *ngFor="let oneElement of elements" class="container22">
    <div class="div1">
      <span style="max-width: 70%; word-wrap: break-word">{{oneElement.description}}</span>
      <span (click)="pushTimes(oneElement)">&times;</span>
    </div>
    <div *ngIf="!evalVisibilityTest()" style="display: flex; flex-direction: row; justify-content: center">
      <select id="cars" [(ngModel)]="oneElement.label">
        <option *ngFor="let categ of categs" [value]="categ">{{categ}}</option>
      </select>
    </div>
    <div *ngIf="evalVisibilityTest()" style="display: flex; flex-direction: row; justify-content: center">
      <span>{{oneElement.label}}</span>
    </div>
  </div>
</div>
