.container {
  display: flex;
  justify-content: space-between;

}

.container2 {
  display: flex;
  flex-direction: column;
  max-height: initial;
}

.container22 .div1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  /*background-color: aliceblue;*/
  width: inherit;
  margin: 5px;
  font-weight: bold;
  cursor: pointer;
}

.container22 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  background-color: aliceblue;
  padding: 15px;
  width: inherit;
  margin: 5px;
  font-weight: bold;
  cursor: pointer;
}

.container22_selected {
  background-color: lightblue;
}


.times {
  cursor: pointer;
}

.container div div label {
  background-color: lightgreen;
  filter: brightness(150%);
  border-radius: 25px;
  font-weight: bold;
  height: 40px;
  padding: 10px;
}

.container button {
  background-color: lightgreen;
  filter: brightness(150%);
  border-radius: 25px;
  font-weight: bold;
  height: 40px;
}

:host {
  width: 100%;
}
