<app-header-card class="app-header-card">
</app-header-card>
<div class="middle-div">
  <app-middle-card #project class="app-middle-card-first" [title]="'Projekt'" [buttonTitle]="'+ Pridat novy'" (buttonPushed)="pushbuttn('project')" (selectedElemChanged)="selectElemChangedProject($event)">
  </app-middle-card>
  <app-middle-card #category class="app-middle-card-second" [buttonTitle]="'+ Pridat novou'" [title]="'Kategorie'" (buttonPushed)="pushbuttn('category')" (buttonTimesPushed)="pushTimesButtonDeleteCat($event)">
  </app-middle-card>
  <app-middle-card #uceni class="app-middle-card-third" [buttonTitle]="'+&nbsp;Pridat soubor'" [title]="'Uceni'" (buttonPushed)="pushbuttn('3')" (addedFileEvent)="addedFileEventUceniPushed($event)">
  </app-middle-card>
  <app-middle-card #test class="app-middle-card-fourts" [buttonTitle]="'+&nbsp;Pridat test'" [title]="'Test'" (buttonPushed)="pushbuttn('4')" (addedFileEvent)="addedFileEventTestPushed($event)">
  </app-middle-card>
</div>
<app-footer-card (saveEvent)="saveSelectedProject()" (testEvent)="testEventPushed()" (trainEvent)="trainEventPushed()">
</app-footer-card>
<div class="modal-add-category" *ngIf="addModalVisible">
  <div class="modal-add-category-header">
    <h3>Pridat kategorii</h3>
    <h3 (click)="closeCategory()" style="cursor: pointer;">&times;</h3>
  </div>
  <div>
    <label for="categId">Kategorie:&nbsp;</label>
    <input id="categId" type="text" [(ngModel)]="addedCategory"/>
  </div>
  <button (click)="addCategory()">Pridat</button>
</div>
<div class="modal-add-category" *ngIf="addModalProjectVisible">
  <div class="modal-add-category-header">
    <h3>Pridat projekt</h3>
    <h3 (click)="closeProject()" style="cursor: pointer;">&times;</h3>
  </div>
  <div>
    <label for="projectId">Projekt:&nbsp;</label>
    <input id="projectId" type="text" [(ngModel)]="addedProject"/>
  </div>
  <button (click)="addProject()">Pridat</button>
</div>
