.middle-div {
  flex-grow: 1;
  width: 100%;
  height: auto;
  max-height: initial;
  display: flex;
  justify-content: flex-start;
  overflow-y: auto;

}
app-footer-card {
  flex: 0 0 100px;
}
app-header-card {
  flex: 0 0 100px;
}

.modal-add-category {
  position: absolute;
  width: 30vw;
  height: 30vh;
  top: 35vh;
  left: 35vw;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
}

.modal-add-category-header {
  justify-content: space-between;
  width: 100%;
  display: flex;
}
